/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-control-thumbs img {cursor:pointer;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {overflow:hidden; position: relative; z-index:2;}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }



/* Direction Nav */
.flexslider.top_slider .flex-direction-nav li a {
	position:absolute;
	z-index:300;
	top:50%;
	display:block;
	width:32px;
	height:32px;
	margin-top:-16px;
	font-family:FontAwesome;
	text-align:center;
}
.flexslider.top_slider .flex-direction-nav li a.flex-prev {left:15px;}
.flexslider.top_slider .flex-direction-nav li a.flex-next {right:15px;}
.flexslider.top_slider .flex-direction-nav li a:before {
	position:absolute;
	left:0;
	top:0;
	width:32px;
	height:32px;
	line-height:30px;
	font-size:38px;
	color:#fff;
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out;
}
.flexslider.top_slider .flex-direction-nav li a.flex-prev:before {content: "\f053";}
.flexslider.top_slider .flex-direction-nav li a.flex-next:before {content: "\f054";}
.flexslider.top_slider .flex-direction-nav li a:hover:before {color:#f5c700;}







/* __________ Control Navigation __________ */
.flex-control-nav {
	position:absolute;
	z-index:300;
	left:50%;
	bottom:72px;
	width:1170px;
	margin-left:-585px;
	text-align:left;
}
.flex-control-nav li {
	display:inline-block;
	margin:0 13px 0 0;
}
.flex-control-nav li a {
	display:block;
	width:17px;
	height:17px;
	border-radius:50%;
	box-shadow:0 0 0 2px #fff inset;
	font-size:0;
	cursor:pointer;
}
.flex-control-nav li a:hover {opacity:0.6;}
.flex-control-nav li a.flex-active {
	box-shadow:0 0 0 9px #f5c700 inset;
	cursor:default;
}
.flex-control-nav li a.flex-active:hover {opacity:1;}



/* Testimonials Slider */
.testimonials_slider .flex-control-nav {
	position:static;
	width:auto;
	margin:0;
	padding:30px 0 0 100px;
}
.testimonials_slider .flex-control-nav li a {box-shadow:0 0 0 2px #333 inset;}
.testimonials_slider .flex-control-nav li a:hover {opacity:0.6;}
.testimonials_slider .flex-control-nav li a.flex-active {box-shadow:0 0 0 9px #f5c700 inset;}




/* Twitter Slider */
.twitter_list .flex-control-nav {
	position:static;
	width:100%;
	margin:0;
	padding:0;
	text-align:center;
}
.twitter_list .flex-control-nav li a {
	border-color:#fff;
}
.twitter_list .flex-control-nav li a.flex-active {
	border-color:#f5c700;
}





/* Blog Post Slider */
.blog_post_slider {
	float:left;
	width:470px;
	height:370px;
	margin-right:30px;
	background-color:#000;
}

.blog_post_slider .flex-control-nav {
	left:0;
	bottom:15px;
	margin:0;
	width:100%;
	text-align:center;
}

.blog_post_slider .flex-direction-nav li a {
	position:absolute;
	z-index:300;
	top:50%;
	display:block;
	width:32px;
	height:32px;
	margin-top:-16px;
	font-family:FontAwesome;
	text-align:center;
}
.blog_post_slider .flex-direction-nav li a.flex-prev {left:15px;}
.blog_post_slider .flex-direction-nav li a.flex-next {right:15px;}
.blog_post_slider .flex-direction-nav li a:before {
	position:absolute;
	left:0;
	top:0;
	width:32px;
	height:32px;
	line-height:30px;
	font-size:38px;
	color:#fff;
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out;
}
.blog_post_slider .flex-direction-nav li a.flex-prev:before {content: "\f053";}
.blog_post_slider .flex-direction-nav li a.flex-next:before {content: "\f054";}
.blog_post_slider .flex-direction-nav li a:hover:before {color:#f5c700;}





/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }








/* Control Nav */
.flex-control-thumbs {
	position: absolute;
	z-index:200;
	left:0;
	bottom:50px;
	width:100%;
	text-align:center;
}
.flex-control-thumbs li {
	overflow:hidden;
	position:relative;
	display:inline-block;
	width: 100px;
	height:70px;
	margin: 0 5px;
}
.flex-control-thumbs img {
	position:asbolute;
	width: auto;
	max-width:none;
	height:100%;
	display: block;
	cursor: pointer;
}
.flex-control-thumbs li img.flex-active:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	border:5px solid #fff;
}








/* Top Slider Caption */
.flexslider.top_slider .slide1 {
	width:100%;
	background-color:#0b8e79;
	background-image:url(../images/slider/slide1_bg.jpg);
	background-size:cover;
}
.flexslider.top_slider .slide2 {
	width:100%;
	background-color:#0b8e79;
	background-image:url(../images/slider/slide2_bg.jpg);
	background-size:cover;
}
.flexslider.top_slider .slide3 {
	width:100%;
	background-color:#0b8e79;
	background-image:url(../images/slider/slide3_bg.jpg);
	background-size:cover;
}
.top_slider .slides li {height:730px;}



.top_slider .slide1 .flex_caption1 {
	position:absolute;
	z-index:30;
	left:50%;
	top:21%;
	width:100%;
	margin-left:-585px;
	text-transform:uppercase;
	font-weight:900;
	line-height:100px;
	font-size:85px;
	color:#fff;
}
.top_slider .slide1 .flex_caption1 p {margin:0;}

.top_slider .slide1 .flex_caption2 {
	position:absolute;
	z-index:25;
	left:50%;
	top:14%;
	width:500px;
	height:400px;
	margin-left:95px;
	background-image:url(../images/slider/bitcoin.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	-webkit-background-size:100% auto;
}




.top_slider .slide2 .flex_caption1 {
	position:absolute;
	z-index:30;
	left:50%;
	top:21%;
	width:100%;
	margin-left:-585px;
	text-transform:uppercase;
	font-weight:900;
	line-height:100px;
	font-size:100px;
	color:#fff;
}
.top_slider .slide2 .flex_caption1 p {margin:0;}

.top_slider .slide2 .flex_caption2 {
	position:absolute;
	z-index:25;
	left:50%;
	top:14%;
	width:500px;
	height:400px;
	margin-left:95px;
	background-image:url(../images/slider/auroracoin.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	-webkit-background-size:100% auto;
}



.top_slider .slide3 .flex_caption1 {
	position:absolute;
	z-index:30;
	left:50%;
	top:24%;
	width:630px;
	margin-left:-585px;
	text-transform:uppercase;
	font-weight:900;
	line-height:100px;
	font-size:100px;
	color:#fff;
}
.top_slider .slide3 .flex_caption1 p {margin:0;}
.top_slider .slide3 .flex_caption1 p.title3 {color:#f5c700;}

.top_slider .slide3 .flex_caption2 {
	position:absolute;
	z-index:25;
	left:50%;
	top:14%;
	width:500px;
	height:400px;
	margin-left:95px;
	background-image:url(../images/slider/dogecoin.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	-webkit-background-size:100% auto;
}



.top_slider .slide4 .flex_caption1 {
	position:absolute;
	z-index:30;
	left:50%;
	top:24%;
	width:630px;
	margin-left:-585px;
	text-transform:uppercase;
	font-weight:900;
	line-height:100px;
	font-size:60px;
	color:#fff;
}
.top_slider .slide4 .flex_caption1 p {margin:0;}
.top_slider .slide4 .flex_caption1 p.title3 {color:#f5c700;}

.top_slider .slide4 .flex_caption2 {
	position:absolute;
	z-index:25;
	left:50%;
	top:14%;
	width:500px;
	height:400px;
	margin-left:95px;
	background-image:url(../images/slider/maxcoin.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	-webkit-background-size:100% auto;
}



.top_slider .slide_btn {
	position:absolute;
	z-index:110;
	bottom:26%;
	left:50%;
	width:auto;
	display:inline-block;
	margin-left:-584px;
	padding:0 0 0 60px;
	text-transform:uppercase;
	font-weight:900;
	line-height:20px;
	font-size:18px;
	color:#fff;
}
.top_slider .slide_btn:hover {color:#f5c700;}
.top_slider .slide_btn:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:50px;
	height:20px;
	background-color:#f5c700;
}


/* Video in iMAc */
.slide_video_in {
	position:relative;
	width:732px;
	height:414px;
	margin:33px 0 0 113px;
}
#controlBar_P1 {position:static !important;}

#wrapper_mbYTP_P1 {opacity:1 !important;}
#wrapper_mbYTP_P2 {opacity:1 !important;}

.slide_video_in iframe {
	position:static !important;
	left:0 !Important;
	top:0 !important;
	width:732px !important;
	height:414px !Important;
	margin:0 !important;
}
.slide_video_in .buttonBar span {display:none !important;}
.slide_video_in .buttonBar span.mb_YTVPPlaypause {
	position:absolute;
	z-index:1000;
	left:50%;
	top:50%;
	display:block !important;
	width:162px;
	height:162px;
	margin:-81px 0 0 -81px;
	font-family:FontAwesome;
	font-size:0;
	cursor:pointer;
	border-radius:50%;
	border:15px solid #fff;
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out;
}
.slide_video_in .buttonBar span.mb_YTVPPlaypause:hover {border-color:#f5c700;}

.slide_video_in .pause .buttonBar span.mb_YTVPPlaypause:before,
.slide_video_in .buttonBar span.mb_YTVPPlaypause:before {
	content: "\f04b";
	position:absolute;
	left:8px;
	top:0;
	width:132px;
	height:132px;
	text-align:center;
	line-height:133px;
	font-size:74px;
	color:#fff;
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out;
}
.slide_video_in .buttonBar span.mb_YTVPPlaypause:hover:before {color:#f5c700;}

.slide_video_in .play .buttonBar span.mb_YTVPPlaypause {
	top:100%;
	width:60px;
	height:60px;
	margin:-70px 0 0 -30px;
	border-width:8px;
}
.slide_video_in .play .buttonBar span.mb_YTVPPlaypause:before {
	content: "\f04c";
	left:0;
	width:44px;
	height:44px;
	line-height:44px;
	font-size:24px;
}









/* Flex Caption Effect */
.FadeIn, .FromTop, .FromRight, .FromBottom, .FromLeft {opacity: 0; transition: all 0.7s ease-in-out; -webkit-transition: all 0.7s ease-in-out;}
.captionDelay1 {transition-delay: 0.1s; -webkit-transition-delay: 0.1s;}
.captionDelay2 {transition-delay: 0.2s; -webkit-transition-delay: 0.2s;}
.captionDelay3 {transition-delay: 0.3s; -webkit-transition-delay: 0.3s;}
.captionDelay4 {transition-delay: 0.4s; -webkit-transition-delay: 0.4s;}
.captionDelay5 {transition-delay: 0.5s; -webkit-transition-delay: 0.5s;}
.captionDelay6 {transition-delay: 0.6s; -webkit-transition-delay: 0.6s;}
.captionDelay7 {transition-delay: 0.7s; -webkit-transition-delay: 0.7s;}
.captionDelay8 {transition-delay: 0.8s; -webkit-transition-delay: 0.8s;}
.captionDelay9 {transition-delay: 0.9s; -webkit-transition-delay: 0.9s;}
.captionDelay10 {transition-delay: 1s; -webkit-transition-delay: 1s;}
.captionDelay11{transition-delay: 1.1s; -webkit-transition-delay: 1.1s;}
.captionDelay12 {transition-delay: 1.2s; -webkit-transition-delay: 1.2s;}

.flexslider li.flex-active-slide .FadeIn {opacity: 1;}
.flexslider li .FromTop {transform: translateY(-100%); -o-transform: translateY(-100%); -ms-transform: translateY(-100%); -webkit-transform: translateY(-100%);}
.flexslider li.flex-active-slide .FromTop {opacity: 1; transform: translateY(0); -o-transform: translateY(0%); -ms-transform: translateY(0); -webkit-transform: translateY(0);}
.flexslider li .FromBottom {transform: translateY(100%); -o-transform: translateY(100%); -ms-transform: translateY(100%); -webkit-transform: translateY(100%);}
.flexslider li.flex-active-slide .FromBottom {opacity: 1; transform: translateY(0); -o-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0);}
.flexslider li .FromLeft {transform: translateX(-100%); -o-transform: translateX(-100%); -ms-transform: translateX(-100%); -webkit-transform: translateX(-100%);}
.flexslider li.flex-active-slide .FromLeft {opacity: 1; transform: translateX(0); -o-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0);}
.flexslider li .FromRight {transform: translateX(100%); -o-transform: translateX(100%); -ms-transform: translateX(100%); -webkit-transform: translateX(100%);}
.flexslider li.flex-active-slide .FromRight {opacity: 1; transform: translateX(0); -o-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0);}








/* Responsive Styles */
@media (min-width: 992px) and (max-width: 1199px) {
	.top_slider .slides li {height:580px;}
	
	
	.flex-control-nav {margin-left:-485px; bottom:50px;}
	
	
	.top_slider .slide1 .flex_caption1, .top_slider .slide2 .flex_caption1, .top_slider .slide3 .flex_caption1 {margin-left:-450px; font-size:70px; line-height:70px;}
	.top_slider .slide1 .flex_caption2 {width:650px; height:430px;}
	.top_slider .slide_btn {margin-left:-450px; bottom:20%;}
	
	.top_slider .slide2 .flex_caption2 {width:490px; height:460px;}
	
	.top_slider .slide3 .flex_caption2 {width:650px; height:455px;}
	.slide_video_in {margin:24px 0 0 86px;}
	.slide_video_in iframe {width:541px !important; height:306px !Important;}
	
	
}

@media (min-width: 768px) and (max-width: 991px) {
	.top_slider .slides li {height:430px;}
	
	
	.flex-control-nav {margin-left:-360px; bottom:30px;}
	
	
	.top_slider .slide1 .flex_caption1, .top_slider .slide2 .flex_caption1, .top_slider .slide3 .flex_caption1 {top:32%; margin-left:-330px; font-size:50px; line-height:50px;}
	.top_slider .slide1 .flex_caption2 {width:510px; height:340px;}
	
	.top_slider .slide_btn {margin-left:-330px; bottom:20%; font-size:14px; line-height:14px; padding-left:45px;}
	.top_slider .slide_btn:before {height:14px; width:35px;}
	
	.top_slider .slide2 .flex_caption2 {width:370px; height:347px;}
	
	.top_slider .slide3 .flex_caption2 {width:530px; height:370px;}
	.slide_video_in {margin:19px 0 0 70px;}
	.slide_video_in iframe {width:441px !important; height:251px !Important;}
	
	
}

@media (max-width: 767px) {
	.top_slider .slides li {height:270px;}
	
	
	.flex-control-nav {margin-left:0; bottom:10px; left:15px;}
	
	
	.top_slider .slide1 .flex_caption1, .top_slider .slide2 .flex_caption1, .top_slider .slide3 .flex_caption1 {top:26%; left:50px; margin-left:0; font-size:40px; line-height:40px;}
	.top_slider .slide1 .flex_caption2 {width:370px; height:260px;}
	
	.top_slider .slide_btn {margin-left:0; left:50px; bottom:40px; font-size:14px; line-height:14px; padding-left:45px;}
	.top_slider .slide_btn:before {height:14px; width:35px;}
	
	.top_slider .slide2 .flex_caption2 {width:257px; height:241px;}
	
	.top_slider .slide3 .flex_caption2 {width:415px; height:291px;}
	.slide_video_in {display:none !important;}
	.slide_video_in iframe {display:none !important;}
	
	
}

@media (max-width: 479px) {
	.top_slider .slides li {height:270px;}
	
	
	.top_slider .slide1 .flex_caption1, .top_slider .slide2 .flex_caption1, .top_slider .slide3 .flex_caption1 {font-size:30px; line-height:30px;}
	
	
}

































