{% extends "_base.html.twig" %}

{% block main %}
	<h1>Welcome to MUCHTIP API</h1>
	<p>Check out the following:</p>
	<ul>
		<li><a href="/source">Sources</a></li>
		<li><a href="/jar">Tipping jars</a></li>
		<li><a href="/tip">Tips</a></li>
	</ul>
{% endblock %}