{% extends "_base.html.twig" %}

{% block main %}

	{% if message %}
		<h1 class="error">{{ message }}</h1>
	{% endif %}

	{% if ok %}
		<h1>Source</h1>
		<ul>
			<li>id {{ payload.id }}</li>
			<li>hash {{ payload.hash }}</li>
		</ul>
	{% endif %}

	<h2>Create new source</h2>
	<form action="/source">
		URL <input type="text" name="id"/>
		<button type="submit">Submit</button>
	</form>

{% endblock %}