{% extends "_base.html.twig" %}

{% block main %}

	{% if message %}
		<h1 class="error">{{ message }}</h1>
	{% endif %}

	{% if ok %}
		<h1>Sources</h1>
		<ul>
			{% for hash, url in payload %}
				<li><a href="{{ url }}">{{ hash }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}