{% extends "_base.html.twig" %}

{% block main %}
	{% if ok %}
		<h1>Source #{{ payload.id }}</h1>
		<pre>{{ payload.hash }}</pre>
	{% endif %}
	{% if message %}
		<h2>{{ message }}</h2>
	{% endif %}
{% endblock %}