<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Muchtip</title>
		<style>
			body {
				font-family: sans-serif;
				color: #404040;
				background: #f8faf8;
				width: 80%;
				margin: 0 auto;
				padding: 2em;
			}
			a, a.visited { color: navy; }
			#main { background: #e0e0e0; margin: 1em 0; padding: 1em; }
			#main h1 { margin-top: 0; padding-top: 0; }
			footer { font-size: small; }
			.error { color: #f04040; }
		</style>
	</head>
	<body>
		<header>
			<a href="/">
				<img src="/images/logo.png" alt="MUCHTIP"/>
			</a>
		</header>
		<div id="main">
			{% block main %}{% endblock %}
		</div>
		<footer>
			Copyright &copy; 2014+ Codistillery
		</footer>
	</body>
</html>